.card-component {
  width: 22rem;
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 .25rem 1.25rem rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 3rem;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
}

.card-header {
  text-transform: uppercase;
  font-size: .9rem;
  line-height: 1.5rem;
  letter-spacing: .25rem;
  font-weight: bold;
  font-family: colfax;
  color: #D8D8D8;
}

.card-body {
  font-size: .75rem;
  line-height: 2rem;
  color: #A8B6BF;
}

.summary-item, .action-item {
  display: flex;
  justify-content: space-between;
}

.summary-item div:first-child {
  text-align: left;
}

.summary-item div:last-child {
  text-align: right;
}

.action-body {
  padding-top: 10%;
}

.action-input, .action-button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
}

.action-button {
  min-width: 23%;
  padding: 0;
  cursor: pointer;
}

.action-input {
  -moz-appearance: textfield;
}

.action-input::-webkit-inner-spin-button, 
.action-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (max-width: 481px) {
  .card-component {
    padding: 1rem;
  }

  .action-button {
    width: 30%;
  }
}

.action-input::placeholder {
  color: #A8B6BF;
}

.deposit-button {
  color: #318EFF;
}

.withdraw-button {
  color: #31FFA8;
}
