.dashboard {
  padding: 6rem 3rem;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .dashboard {
    padding: 6rem 20%;
  }
}

.account-name {
  font-family: sf-pro-text-bold;
}

.link-address {
  height: 2rem;
  color: #FFFFFF;
  background-color: #1976d2;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}

.main-balance {
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  font-family: colfax-bold;
  font-weight: bold;
  margin: 1rem auto;
}

.wallet {
  font-family: sf-pro-text-light;
  font-size: .5rem;
  line-height: .7rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.wallet-chip {
  margin: 2rem auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
