

@font-face {
  font-family: 'colfax';
  src: local('colfax'), url('./fonts/colfaxRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'sf-pro-text';
  src: local('sf-pro-text'), url('./fonts/sf-pro-text-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'colfax-bold';
  src: local('colfax-bold'), url('./fonts/colfaxBold.ttf') format('truetype');
}

@font-face {
  font-family: 'sf-pro-text-light';
  src: local('sf-pro-text-light'), url('./fonts/sf-pro-text-light.ttf') format('truetype');
}

@font-face {
  font-family: 'sf-pro-text-bold';
  src: local('sf-pro-text-bold'), url('./fonts/sf-pro-text-bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: sf-pro-text;
  color: #FFF;
  background-image: linear-gradient(#071021 0%, #101A24 39.58%, #1b0C29 64.06%, #000000 98.96%);
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: colfax;
}

